body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  box-sizing: border-box;
}

.name-form {border: 1px solid red;}

.form {
  display: flex;
}

input {
  padding: 5px 10px;
}

button {
  margin-left: 8px;
  displaing: inline-block;
  padding: 5px 10px;
}

input {
  margin: 0;
}

h1 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-bottom: 16px;
}

#background {
  margin: 1rem 0 0;
}
